.chord:not(:last-child) {
  padding-right: 3px;
}
.paragraph {
  margin-bottom: 1em;
}
.row {
  display: flex;
}
.chord:after {
  content: "\200b";
}
.lyrics:after {
  content: "\200b";
}

@font-face {
  font-family: "MuseJazz Text";
  src:
    local("MuseJazz Text"),
    url(https://cdn.jsdelivr.net/npm/@vexflow-fonts/musejazztext@1.0.1/musejazztext.woff2)
    format("woff2");
}
body {
  margin: 0;
  font-family: serif;
}
h1, h2 {
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}
.comment {
  font-size: 12px;
  text-align: center;
}
.chord {
  color: blue;
  font-family: "MuseJazz Text";
  font-size: 14px;
}
.lyrics {
  line-height: 8px;
}
.row {
  break-inside: avoid-column;
  padding-bottom: 4px;
}
.chord-sheet {
  columns: 2;
}

main {
  width: 80%;
  margin: 10px auto;
}
button {
  display: block;
  margin: 10px auto;
}
textarea {
  display: block;
  width: 80%;
  margin: 10px auto;
  height: 500px;
}

@media print {
  button, textarea {
    display: none;
  }
  main {
    width: initial;
    margin: 0;
  }
}
